<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> 페이지 메인</a>
      </li>
      <li>
        <a href="https://github.com"><span class="glyphicon glyphicon-user"></span> 링크테스트1</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> 안내용 네비바 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://github.com">링크1</a></li>
            <li><a href="https://github.com">링크2</a></li>
            <li><a href="https://github.com">링크3</a></li>
            <li><a href="https://github.com">링크4</a></li>
            <li><a href="https://github.com">링크5</a></li>
            <li><a href="https://github.com">링크6</a></li>
            <li><a href="https://github.com">링크7</a></li>
            <li><a href="https://github.com">링크8</a></li>
            <li class="divider"></li>
            <li><a href="https://github.com">링크1</a></li>
            <li><a href="https://github.com">링크2</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href=이종훈 시험용 서버 a>
      </li>
    </ul>
  </div>
</nav>
