.jumbotron {
  background: #5c32b4;
  color: rgb(255, 255, 255);
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #7430cd;
    border-color: #ffffff; }
    .jumbotron .btn-primary:hover {
      background: #ffffff; }
  .jumbotron p {
    color: #ffffff;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: hsla(0, 0%, 16%, 0);
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid rgb(255, 255, 255); }
    .jumbotron .lang-logo img {
      max-width: 100%; }

